@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Uncial+Antiqua&display=swap');

*{
    font-family: 'Poppins',sans-serif;
}

.orders {
    padding: 20px 80px;
}

.orders > h1 {
    margin: 30px 0;
}